<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISpeedService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8092/speedservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISpeedService" contract="SpeedServiceReference.ISpeedService"
                name="BasicHttpBinding_ISpeedService" />
        </client>
    </system.serviceModel>
</configuration>
