<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBatchService" />
                <binding name="BasicHttpBinding_ISpeedService" />
                <binding name="BasicHttpBinding_IQueryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/batchservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBatchService" contract="BatchServiceReference.IBatchService"
                name="BasicHttpBinding_IBatchService" />
            <endpoint address="http://localhost:8092/speedservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISpeedService" contract="SpeedServiceReference.ISpeedService"
                name="BasicHttpBinding_ISpeedService" />
            <endpoint address="http://localhost:8093/queryservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQueryService" contract="QueryServiceReference.IQueryService"
                name="BasicHttpBinding_IQueryService" />
        </client>
    </system.serviceModel>
</configuration>