<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="lambdadb" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=DataSystem;Integrated Security=SSPI;"/>
    <add name="MSSQL" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0217_1065490;Persist Security Info=True;User ID=dmaa0217_1065490;Password=Password1!"/>
  </connectionStrings>
</configuration>