<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="lambdadb" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=DataSystem;Integrated Security=SSPI;"/>
    <add name="MSSQL" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0217_1065490;Persist Security Info=True;User ID=dmaa0217_1065490;Password=Password1!"/>
  </connectionStrings>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBatchService" />
                <binding name="BasicHttpBinding_ISpeedService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/batchservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBatchService" contract="BatchServiceReference.IBatchService"
                name="BasicHttpBinding_IBatchService" />
            <endpoint address="http://localhost:8092/speedservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISpeedService" contract="SpeedServiceReference.ISpeedService"
                name="BasicHttpBinding_ISpeedService" />
        </client>
    </system.serviceModel>
</configuration>